<?xml version="1.0"?>
<configuration>
  <!-- If these settings are not supplied then defaults are assumed -->

  <!-- Section handler must be supplied if any insightSettings are to be respected -->
  <configSections>
    <section name="insightSettings" type="ReflectSoftware.Insight.ConfigurationHandler,ReflectSoftware.Insight" />
  </configSections>

  <!-- root section -->
  <!--
	**** If the externalConfigSource attribute is not assigned, then this app.config or web.config
	**** is to be used for all ReflectInsight configuration lookups. A config file
	**** other than the app.config or the web.confg (aka a satellite config) will look similare 
  **** to this config file but without the need for the configSections node shown above. 
	-->
  <insightSettings>
    <baseSettings>
      <senderName name="TestWebApp"/>
    </baseSettings>
    <httpModule>
      <properties name="myDebugHttpProperties">
        <userEnterEnterMethod value="true"/>
        <ignoreUrlsParts>
          <!-- will ignore urls that have any part of its path with any key words listed below -->
          <part name="/somepagetoignore.aspx"/>
          <part name="/someotherpagetoignore"/>
          <part name=".htm"/>
          <part name=".html"/>
          <part name=".css"/>
          <part name=".js"/>
          <part name=".gif"/>
          <part name=".png"/>
          <part name=".jpg"/>
          <part name=".bmp"/>
          <part name=".ico"/>
          <part name=".swf"/>
        </ignoreUrlsParts>
        <ignoreUsername value="false"/>
        <ignoreHeader all="false">
          <!-- will ignore these header values -->
          <parameter name="Connection"/>
          <parameter name="Host"/>
        </ignoreHeader>
        <ignoreQueryString all="false">
          <!-- will ignore these query string parameters -->
          <parameter name="name"/>
          <parameter name="location"/>
        </ignoreQueryString>
        <ignoreFormElements all="false">
          <!-- will ignore these form elements -->
          <element name="__VIEWSTATE"/>
          <element name="__EVENTVALIDATION"/>
          <element name="Password"/>
        </ignoreFormElements>
        <ignoreCookies all="false">
          <!-- will ignore these cookie names -->
          <cookie name="ASP.NET_SessionIdX"/>
        </ignoreCookies>
      </properties>
    </httpModule>

    <extensions>
      <extension name="riHttpModule" instance="httpModule" properties="myDebugHttpProperties" enabled="true"/>
    </extensions>

    <logManager default="myDefault">
      <instance name="myDefault" category="myDefault"/>
      <instance name="httpModule" category="HttpModule"/>
    </logManager>

    <listenerGroups active="Debug">
      <group name="Debug" enabled="true" maskIdentities="false">
        <destinations>
          <destination name="Viewer" enabled="true" filter="" details="Viewer"/>
        </destinations>
      </group>
    </listenerGroups>
  </insightSettings>
  <system.web>
    <!-- used for application pools that support ASP.NET classic mode -->
    <!--
    <httpModules>
      <add name="RIHttpModule" type="ReflectSoftware.Insight.Extensions.HttpModule.RIHttpModule, ReflectSoftware.Insight.Extensions.HttpModule" />
    </httpModules>        
    -->
    <sessionState timeout="20"/>
    <compilation debug="true"/>
    <authentication mode="Windows"/>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <!-- used for application pools that support ASP.NET integrated/pipeline mode -->
      <add name="RIHttpModule" type="ReflectSoftware.Insight.Extensions.HttpModule.RIHttpModule, ReflectSoftware.Insight.Extensions.HttpModule"/>
    </modules>
  </system.webServer>
  
</configuration>
